git+https://github.com/wogikaze/poke-env
keras-rl2
gymnasium
tabulate
numpy
tensorflow
gymnasium
wandb
stable-baselines3[extra]
matplotlib
pillow
opencv-python
pygame
pandas
gymnasium
psutil
pynvml
redis
pika
paho-mqtt
git+https://github.com/pocokhc/simple_distributed_rl